<a href="https://twitter.com/share" class="twitter-share-button" data-text="http://www.pornloyalty.com/<%=@pin.id%>" data-via="william">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

 <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <script type="text/javascript">
 twttr.events.bind('tweet', function(event) {
  var id ="<%=@pin.id%>"
  $.ajax({
    type: 'POST',
    url: "/score_up",
    data:{pin_id: id ,type: "tweet"}
    });
    return false;
    });

</script>



